<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= @note.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<p>記入例</p>
<p>日付：yyyymmdd、学年：□年、クラス：□組、本：雨にも負けず、著者：宮沢賢治</p>

      <div class="form-group">
        <label for="date">日付</label>
        <input type="text" class="form-control datepicker1" name="date" id="date" placeholder="日付（yyyymmdd）" >
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Datepicker for Bootstrap -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.ja.min.js"></script>

    <script>
      $('.datepicker1').datepicker({
      format: "yyyy/mm/dd",
      language: "ja",
      autoclose: true, //日付選択で自動的にカレンダーを閉じる
      orientation:'bottom left'
      });
    </script>

  <br>
  <%= f.label :学年 %>
  <%= f.text_field :grade, placeholder: "学年（■年）", class:'form-control'%>
  <br>
  <%= f.label :クラス %>
  <%= f.text_field :place, placeholder: "クラス（■組/その他）", class:'form-control'%>
  <br>
  <%= f.label :本 %>
  <%= f.text_field :book_title,  placeholder: "本のタイトル", class:'form-control'%>
  <br>
  <%= f.label :著者 %>
  <%= f.text_field :author,  placeholder: "著者名", class:'form-control'%>
  <br>
<%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>

<%= link_to "一覧画面にもどる", notes_path %>