<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= @note.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<p>記入例</p>
<p>日付：yyyymmdd、学年：□年、クラス：□組、本：雨にも負けず、著者：宮沢賢治</p>

   

  <br>
  <%= f.label :日付 %>
  <br>
  <%= f.date_field :date %>  
  <br>
  <%= f.label :学年 %>
  <br>
  <%= f.select :grade, [["1年", "1年"], ["2年", "2年"], ["3年", "3年"], ["4年", "４年"], ["5年", "5年"],["6年", "6年"], ["学習室", "学習室"]], placeholder: "学年（■年）", class:'form-control'%>
  <br>  
  <%= f.label :クラス %>
  <br>
  <%= f.select :place, [["1組", "1組"], ["2組", "2組"], ["3組", "3組"], ["4組", "４組　"], ["5組", "5組"],["学年", "学年"], ["移動", "移動"]], placeholder: "クラス", class:'form-control'%>
  <br>
  <%= f.label :本 %>
  <%= f.text_field :book_title,  placeholder: "本のタイトル", class:'form-control'%>
  <br>
  <%= f.label :著者 %>
  <%= f.text_field :author,  placeholder: "著者名", class:'form-control'%>
  <br>
<%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>

<%= link_to "一覧画面にもどる", notes_path %>