<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">

<p><%= notice %></p>

<%= link_to "活動記録を作成する", new_note_path, class: 'btn btn-default' %>


<h3><caption align="center">活動記録一覧</caption></h3>

<table>
<thead>
<tr>
    <th>日付</th>
    <th>学年</th>
    <th>クラス</th>
    <th>本</th>
    <th>著者</th> 
    <th>編集</th>
    <th>削除</th> 
</tr>
</thead>

<tbody>
<tr>    
<% @notes.each do |note| %>

  <tr>
  <td data-label="日付"><%= note.date %></td>
  <td data-label="学年"><%= note.grade %></td>
  <td data-label="クラス"><%= note.place %></td>
  <td data-label="本"><%= note.book_title %></td>
  <td data-label="著者"><%= note.author %></td>  
  <td><%= link_to "編集", edit_note_path(note.id), data: { confirm: '本当に編集していいですか？' }, class: 'btn btn-sm btn-success' %> </td>
　<td><%= link_to '削除', note_path(note.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-sm btn-danger' %> </td>
  </tr>

<% end %>

</tr>
</tbody>
</table>

<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>

  </div>
</div>
