<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-12">

<p><%= notice %></p>

<h3><caption align="center">記録の作成</caption></h3>
<%= link_to "活動記録を作成する", new_note_path, class: 'btn btn-default' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">検索</div>
  </div>
  <div class="panel-body">

    <%= search_form_for(@q, method: :get) do |f| %>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :grade_cont %>
            <%= f.text_field :grade_cont, class: "form-control", placeholder: "部分一致" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :member_cont %>
            <%= f.text_field :member_cont, class: "form-control", placeholder: "部分一致" %>
          </div>
        </div>        
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :book_title_or_author_cont %>
            <%= f.text_field :book_title_or_author_cont, class: "form-control", placeholder: "複数条件部分一致" %>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-inline">
            <%= f.label :date %>
            <%= f.date_select :date_gt, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control" %>〜
            <%= f.date_select :date_lt, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control" %>
          </div>
        </div>
      </div>  
      <%= f.submit '検索', class: "btn btn-primary" %>
      <%= link_to 'クリア', url_for, class: "btn btn-default" %>
    <% end %>
  </div>
</div>


<h3><caption align="center">活動記録一覧</caption></h3>


<table>
<thead>
<tr>
    <th>日付</th>
    <th>学年</th>
    <th>クラス</th>
    <th>本</th>
    <th>著者</th> 
    <th>担当</th>     
    <th>編集</th>
    <th>削除</th> 
</tr>
</thead>

<tbody>
<tr>    
<% @notes.each do |note| %>

  <tr>
  <td data-label="日付"><%= note.date %></td>
  <td data-label="学年"><%= note.grade %></td>
  <td data-label="クラス"><%= note.place %></td>
  <td data-label="本"><%= note.book_title %></td>
  <td data-label="著者"><%= note.author %></td> 
  <td data-label="担当"><%= note.member %></td>   
  <td><%= link_to "編集", edit_note_path(note.id), data: { confirm: '本当に編集していいですか？' }, class: 'btn btn-sm btn-success' %> </td>
　<td><%= link_to '削除', note_path(note.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-sm btn-danger' %> </td>
  </tr>
</tr>

<% end %>

</tbody>
</table>

<%= paginate @notes %>

  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>

  </div>
</div>